body {
    background-color: rgb(48, 48, 48);
    text-align: center;
    color: rgb(239, 235, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    margin-top: 20px;
}

    header img {
        cursor: pointer;
    }

section {
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
}