* {
    margin-left: 25px;
    color: white;
    background-color: #303030;
}

#div1 {
    text-align: center;
}

#div1 p {
    color: aqua;
    background-color: black;
    border-radius: 15px;
    padding: 10px;
}